<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=sql5020.site4now.net;user id=DB_A28A96_ubersx_admin;password=Master20145;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>